
<div class= "header">
<h1>WHO GOES TO LEAGUE OF LEGENDS WORLD CHAMPIONSHIP 2015?</h1>
</div>
<div class="col-sm-12 content" >

<div class="col-sm-6 region">
<p class="title">NA Seeds</p>
<hr>
<table>
<tr><th>Seed</th><th>Team</th><th>Points</th>
<tr><td>1st Seed </td> <td> <%= params['aqna'] %></td><td> AQ </td></tr>
<tr><td>2ns Seed </td> <td> <%= params['ssna'] %></td> <td> <%= params['ssnap'] %></td></tr>
<tr><td>3rd Seed </td> <td> <%= params['fgna'] %></td> <td> Gauntlet </td></tr>
</table>

</div>



<div class="col-sm-6 region">
<p class="title">EU Seeds</p>
<hr>
<table>
<tr><th>Seed</th><th>Team</th><th>Points</th>
<tr><td>1st Seed </td> <td> <%= params['aqeu'] %></td><td> AQ </td></tr>
<tr><td>2ns Seed </td> <td> <%= params['sseu'] %></td> <td> <%= params['sseup'] %></td></tr>
<tr><td>3rd Seed </td> <td> <%= params['fgeu'] %></td> <td> Gauntlet </td></tr>
</table>


</div>



</div>

